/* цвет основгого текса #757575 */
/* второй цвет #212121 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* цвет фона #E5E5E5 */
/* второй цвет фона #2F303A */
/* третий цвет фона #F5F4FA */
:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color:#E5E5E5;
}
body {
   background-color: #E5E5E5;
   color: var(--primary-text-color);
   font-family: Roboto, sans-serif;
   letter-spacing: 0.03em;
}

ul { list-style: none;
margin: 0;
padding: 0;}

.container { margin-left: auto;
margin-right: auto;
    width: 1200px;
    padding-left: 15px;
padding-right: 15px;
    outline: 2px solid tomato;
}

/*page-header*/
.page-header {
    background-color: #FFFFFF;
}

/*main-nav*/
.container.main-nav {
    display: flex;
    align-items: center;
}
.head-nav{
    display: flex;
    align-items: center;
}


.logo {
    color: var(--accent-color);
    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.log {
    color: #000000;
    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.logos{
font-family: Raleway, cursive;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: #FFFFFF;
}
/* site nav*/
.site-nav {
    display: flex;
    margin-left: 93px;
}
.site-nav .item{
   /* margin-right: 50px;*/
    outline: 1px solid tomato;
}
.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link { display: block;
    color: var(--title-text-color) ;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        padding-top: 32px;
        padding-bottom: 32px;
}
.site-nav .link:hover,
.site-nav .link:focus
{
    color: var(--accent-color);
}
.link.curret{ color: var(--accent-color);
 text-decoration: none;
}

.auth-nav{ 
    display: flex;
    margin-left: auto;
}
.auth-nav .item + .item{
    margin-left: 50px;
}

/* effect*/
.hero { background-color: #2F303A;
    text-align: center;
    padding-left: 452px;
    padding-right: 452px;
    padding-top: 200px;
    padding-bottom: 200px;
   
}
.hero-title, .section-our  {
    margin-top: 0;
margin-bottom: 30px;
    color: #FFFFFF;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        outline: 2px solid tomato;
}

/*section*/

.section-title { margin-top: 0;
    margin-bottom: 94px;
   color: var(--title-text-color);
font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
/*feature*/
.feature-list{
    display: flex;
    flex-wrap: wrap;
}
.feature-list .item{
    width: 270px;
    margin-bottom: 94px;
    background-color: tomato;
}
.feature-list .title{ margin-top: 0;
    margin-bottom: 10px;
    color:var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.feature-text { margin-top: 0;
    margin-bottom: 0;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
}
/*work*/
.section { background-color: #F5F5F5;
    padding-top: 0;
    padding-bottom: 0;

}

.work-comand { margin-top: 0;
    margin-bottom: 50px;
 color: var(--title-text-color);
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
}

.work-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px ;
}
.items {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 94px;
}
.work-list .item{ box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    margin-right: 30px;
    margin-bottom: 90px;
}
.work-list .title{ margin-top: 0;
    margin-bottom: 10px;
    padding-top: 30px;
color: var(--title-text-color);
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
}
.work-text { margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 30px;
font-weight: 400;
font-size: 16px;
line-height: 1.18;
text-align: center;
}

/*button*/
.button {
    color: var(--primary-text-color);
    
}
.button-primary {
    color: var(--primary-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
}
.button-secondary {
    color: var(--primary-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
}
.button-primary:hover,
.button-primary:focus{
    color: var(--accent-color);
}
.button-secondary:hover,
.button-secondary:focus {
    color: var(--accent-color);
}
.button-premium { width: 216px;
    color: #FFFFFF;
    background-color: var(--accent-color);
    font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;

        outline: 2px solid tomato;
}

/*project*/
.section-project{
    background-color: #F5F5F5;
}
.project-cursor { margin-top: 0;
    margin-bottom: 34px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    outline: 2px solid tomato;
}
.cursor {
    color: var(--title-text-color);
    cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        outline: 2px solid tomato;
}
.cursor.i{
    width: 73px;

}

.cursor.t{
    width: 125px;
}
.cursor.e{
    width: 112px;
}
.cursor.a{
    width: 103px;
}
.cursor.m{
    width: 130px;
}
.project-cursor .cursor:hover,
.project-cursor .cursor:focus
{
color: #FFFFFF;
background-color: var(--accent-color);
}

.project-cursor .item {
    margin-left: 8px;
}
.project-link {
    text-decoration: none;
}
.project-work .project { margin-top: 0;
    margin-bottom: 4px;
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
color: var(--title-text-color);
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        text-decoration: none;
}
.project-work { 
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    margin-bottom: 94px;

    }

.flex-item{ 
     border: 1px solid #EEEEEE;
    background-color: #FFFFFF;
    width: 370px;
    margin: 15px;
}
.project-text  { margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    color: var(--primary-text-color);
font-weight: 400;
font-size: 16px;
line-height: 1.87;
text-decoration: none;
}
/**footer*/
.footer-fons{ margin-top: 0;
    margin-bottom: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
    outline: 2px solid tomato;
}

.adress-list {
    margin-top: 20px;
    
}
.adress-map { margin-top: 0;
    margin-bottom: 9px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;
    outline: 2px solid tomato;
}

.adress { margin-top: 0;
    margin-bottom: 9px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;
}
.adress-map:hover,
.adress-map:focus {
    color: var(--accent-color);
}
.adress:hover,
.adress:focus {
    color: var(--accent-color);
}
